<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">dchqgbyd</property>
        <property name="hibernate.connection.password">NhtBV0fJkxswJU_wnGShHGwMDup5cj_6</property>
        <property name="hibernate.connection.url">jdbc:postgresql://tuffi.db.elephantsql.com:5432/dchqgbyd</property>
        <property name="hibernate.connection.autocommit">true</property>
		

        
		
        <property name="connection_pool_size">2</property>
    

        <property name="show_sql">true</property>
        
        <mapping class="dominio.Competencia"/>
        <mapping class="dominio.Deporte"/>
        <mapping class="dominio.FormaPuntuacion"/>
        <mapping class="dominio.FormaPuntuacionPuntuacion"/>
        <mapping class="dominio.FormaPuntuacionResFinal"/>
        <mapping class="dominio.FormaPuntuacionSets"/>
        <mapping class="dominio.Localidad"/>
        <mapping class="dominio.LugarDeRealizacion"/>
        <mapping class="dominio.Modalidad"/>
        <mapping class="dominio.Pais"/>
        <mapping class="dominio.Participante"/>
        <mapping class="dominio.Provincia"/>
        <mapping class="dominio.Reserva"/>
        <mapping class="dominio.Sesion"/>
        <mapping class="dominio.Usuario"/>
        <mapping class="dominio.Fecha"/>
        <mapping class="dominio.Fixture"/>
        <mapping class="dominio.EncuentroDeportivo"/>
        <mapping class="dominio.SistemaDeCompetencia"/>
        <mapping class="dominio.SistemaDeEliminatoriaDoble"/>
        <mapping class="dominio.SistemaDeEliminatoriaSimple"/>
        <mapping class="dominio.SistemaDeLiga"/>
        <mapping class="dominio.Resultado"/>
    </session-factory>
</hibernate-configuration>
